body{
	background-color:yellow;

}

.row{
	
	height:28px;
}
.row2{
	
	height:80px;
}
.row3{
	border:1px solid red;
	height:28px;
}
.row4{
	border:1px solid red;
	height:40px;
}
.row5{
	border:1px solid red;
	height:38px;
}
.row6{
	border:1px solid red;
	height:28px;
}

.col1{
    float:left;
    border:solid 2px red;
    height:80px;
    width:72px;
    margin-left:35px;
}
.col2{
    float:left;
    border:solid 2px red;
    height:55px;
    width:125px;
    margin-left:20px;
    margin-top:10px;
    
}
.col3{
    float:right;
    border:solid 2px red;
    height:35px;
    width:105px;
    margin-right:35px;
    line-height:0px;
    margin-top:30px;
    
    
}
.col4{
    float:right;
    border:solid 2px red;
    height:35px;
    width:60px;
    margin-right:35px;
    Line-height:0px;
    margin-top:30px;
    size:20px
}
.col51{
	float:left;
    border:solid 2px red;
    height:35px;
    width:56px;
    margin-left:120px;
    line-height:0px;

}
.header{
	border:solid 2px red;
	height:350px;
	margin-left:155px;
	margin-right:155px;
}
.img_row{
	border:solid 2px red;
	height:300px;
	width:239px;
}
.A{
	height:300px;
	width:240px;
}
.movie_name{
  	border:solid 2px red;
	height:330px;
	width:1240px;
	float:left;
	margin-top:-336px;
	margin-left:260px;
}




.movierow{
	border:solid red 1px;
	height:400px;
	width:1164px;
	margin:0px auto;	
}
.image{
	border:solid red 1px;
	width:263px;
	height:90%;
	float:left;
	 
}
.action{
	border:solid red 1px;
	height:75%;
	width:872px;
	float:left;
	margin-left:25px;
}
.style{
	color:white;
	font-size:25px;

}
.like_dislikerow{
	border:solid red 1px;
	height:58px;
	width:873px;
	margin-top:302px;
	margin-left:290px;
}
.like_row{
	border:solid red 1px;
	height:56px;
	width:56px;
	float:left;
}

.dislike{
	border:solid red 1px;
	height:56px;
	width:56px;
	margin-left:115px;
	
}

.delete{
	border:solid red 1px;
	height:56px;
	width:56px;
	float:right;
	margin-top:-97px;
}
.like_img{
	margin-top:5px;
}


.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top:5px;
}


































